body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins' ;
}

.row{
	text-align: center;
	margin: 10px auto;
}
.footer-social{
	display: flex;
	justify-content: center;
}

.footer-social img{
	padding: 0 3px;
	height: 3rem;
	width: 3rem;
}
